body {
    margin: 0px;
}

.alert {
    height: 38.8px;
    width: 100%;
    background-color: black;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#call_icon, #popular_icon, #info_icon{
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

label {
    padding: 0px;
}

#call, #popular, #info {
    flex-shrink: 1;
}

.info_line, .call_line, .popular_line {
    display: flex;
    align-content: center;
}

li {
    list-style: none;
    display: inline;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    padding: 0px;
}

#info a, #call a, #popular a{
    text-decoration: none;
    color: white;
}

#info a:hover, #call a:hover, #popular a:hover {
    text-decoration:underline white;
}

li a {
    display: flex;
    align-content: center;
}

.alert span {
    flex-basis: 60px;
}

#info, #call, #popular {
}
/*미디어 쿼리 중간 단계*/
@media(max-width:1200px) {
    .alert span{
        flex-basis: 36px;
    }
    
}
@media(max-width:900px) {
    .blank_1, .blank_2, .call_line, .info_line{
        display: none;
    }
    .alert {
        height: 50.8px;
    }
}

.headerContainer {
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburger {
    flex-shrink: 1;
}

#hamburger a img {
    height: 16px;
    width: 16px;
    margin: 55px;
}

#logo {
    padding-top: 4px;
    flex-shrink: 1;
}



#logo a img {
    height: 36px;
    width: 90px;
}

a {
    text-decoration: none;
}

.text_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 0px;
    padding-bottom: 2px;
    flex-shrink: 0;
} 

.text_menu #everyGoods a, .text_menu #showroom a {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    color: black;
    margin: 15px;

}

.text_menu #everyGoods a:hover, .text_menu #showroom a:hover {
    text-decoration: underline ;
}

.search {
    background-color: #f5f5f5;
    width: calc(100% + 1.5rem);
    height: 54px;
    border-radius: 27px 27px 27px 27px / 27px 27px 27px 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 20px;
    
}

.search img {
    height: 18px;
    width: 18px;
}

.search input {
    width: 100%;
}

input {
    border: hidden;
    background-color: #f5f5f5;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
    color: grey;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.buttons span img {
    width: 24px;
    height: 24px;
    margin: 12px;
}

.buttons span {
    height: 44px;
} 

#everygoods, #shoroom {
    height: 20.4px;
}

@media (max-width:1200px) {
    #hamburger {
        display: none;
    }
    .text_menu {
        display: none;
    }
    #logo {
        margin: 48px;
    }
}